* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: sans-serif;
}
  
.header {
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 8px;
    gap: 8px;
}
  
.logo {
    border-bottom: 1px solid rgb(76, 81, 103);
    color: black;
    flex: 1;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}
  
a {
    /* this removes the line under our links */
    text-decoration: none;
    color: black;
}
  
ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 16px;
}

nav li {
    font-size: 18px;
}

main {
    margin: 2em auto;
    max-width: 970px;
}

section.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.chart-content {
    background-color: white;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

div.row,
div.row-header {
    display: flex;
    flex-direction: row;
}

div.row {
    border-bottom: 1px solid rgb(76, 81, 103);
}

div.row-header {
    background-color: rgb(26, 72, 196);
    color: white;
    font-size: 80%;

    position: sticky;
    top: 0;
}

div.row-header > *:not(.row-track) {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.fr1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fr5 {
    flex: 5;
}

.row > .row-rank {
    background-color: black;
    color: white;
}

.row > .row-rank,
.row:nth-child(2) > .row-lastweek,
.row:nth-child(2) > .row-peak {
    font-weight: bolder;
    font-size: 150%;
}

.row-track {
    padding: 8px;
}

.track-title {
    font-weight: bold;
}

.track-artist {
    font-size: 90%;
}

.row > .row-lastweek {
    background-color: #efefef;
}

.row > .row-change {
    font-weight: bolder;
}

.change-up,
.change-down {
    rotate: 45deg;
}

.change-up,
.change-down,
.change-stay {
    font-size: 200%;
}

.change-up {
    color: rgb(68, 129, 24);
}

.change-down {
    color: rgb(185, 27, 32);
}

.change-new {
    background-color: #fff100;
    color: black;
    font-size: 80%;
    padding: 3px;
}

.change-stay {
    color: gray;
}